.container {
    background-color:#FFFFFF;
      border-radius: 20px;
      margin-bottom: 50px;
  
  }

  
.form {
    margin-top: 20%;
    margin-bottom: 20%;
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
    text-align: center;


    
  }
  