.groupButton button {
    background-color: white;
    color:black;
    margin: 5px;
    padding: 8px 15px;
    width: 100px;
}
@media (max-width:600px) {
    .groupButton button {
        margin: 2px;
        padding: 4px 5px;
        width: initial;
    }
}
.groupButtonForMobile button{
    background-color: white;
    color:black;
    margin: 5px;
}
.groupButton button:first-child {
    background-color: var(--secondary);
}
.Toolbar{
    justify-content: space-between;
}
@media (min-width : 800px) {
    .Toolbar{
        padding:4px 40px !important;
        
    }
}
.logo{
    width:50px
}
