.container {
  background-color:#FFFFFF;
    border-radius: 20px;
    margin-bottom: 50px;

}
.cover {
  width: 100%;
  height: 392px;

  background-color: #524c4c;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/assets/image/Profile/cover.svg");
  border-radius: 20px;
}
.ProfileImage {
  top: 340px;
  right: 7%;
  width: 200px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #d3d1d1;
}

@media (max-width: 350px) {
  .ProfileImage {
    width: 100px;
    margin-top: -50px;
  }
}
@media (min-width: 351px) and (max-width: 500px) {
  .ProfileImage {
    width: 150px;
    margin-top: -50px;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  .ProfileImage {
    width: 150px;
    margin-top: -75px;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .ProfileImage {
    width: 200px;
    margin-top: -175px;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .ProfileImage {
    width: 230px;
    margin-top: -175px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .ProfileImage {
    width: 250px;
    margin-top: -175px;
  }
}

@media (min-width: 1200px) and (max-width: 1899px) {
  .ProfileImage {
    width: 300px;
    margin-top: -200px;
  }
}

@media (min-width: 1900px) {
  .ProfileImage {
    width: 400px;
    margin-top: -200px;
  }
}

/* Data */

.name {
  font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  text-align: right;
  color: #000000;
}

.ptitle {
  font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #787878;
}

.pvalue {
  font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #b0afaf;
  direction: ltr;
  word-wrap: break-word;
}

.button {
  width: 80%;
  height: 59px;

  background: #f45d48;
  border-radius: 5px;
}
.button p {
  font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  text-align: right;

  color: #ffffff;
}
.buttonContainer {
  text-align: center;
  padding-bottom: 20px;
}
