.mainBody {
  display: flex;
  gap: 30px;
}
.ansNum {
  width: 80px ;
  height: 80px ;

  background: #f6f6f6;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
}
.ansNum p {
   font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #b0afaf;
  padding: 0;
}
.ques {
  font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: right;

  color: #787878;
  margin-bottom:20px ;
}

.tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  width: 91px;
  height: 42px;

text-align: center;
background: #F6F6F6;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;




  font-family: "Al-Jazeera-Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  color: #b0afaf;
}
